<% if band.persisted? %>
  <% value, action = "patch", band_url(band.id) %>
<% else %>
  <% value, action = "post", bands_url %>
<% end %>

<form
  method="post"
  action="<%= action %>">

  <input
    type="hidden"
    name="authenticity_token"
    value="<%= form_authenticity_token %>">

    <input
      type="hidden"
      name="_method"
      value="<%= value %>">

  <label>
    Band Name:
    <input
      type="text"
      name="bands[name]"
      placeholder="Pink Floyd"
      value="<%= band.name %>">
    </input>
  </label>
  <br>
  <br>

  <button> Submit </button>
</form>
