<h1> All Bands </h1>

<a href="<%= new_band_url %>"> Add a band. </a>
<br>
<br>
<br>

<% @bands.sort_by { |band| band.name }.each do |band| %>
  <a href="<%= band_url(band) %>"><%= band.name %></a>
  <br>
  <br>
<% end %>
